#container {
    height: 100%;
    width: 50%;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "bookcase"; 
    margin: auto;
    border: 10px solid black;
    align-items: center;
    justify-items: center;
}

#title {
    text-align: center;
}

#newBtn {
    font-size: 10px;
}

.book {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-grid;
    margin: 8px;
    align-items: center;
    justify-items: center; 
}

.bookInfo {
    display: flex;
}

#header {
    display: inline-grid;
    grid-area: header;
    margin: 0;
    top: 50%;
    left: 50%;
}

#bookcase {
    display: inline-grid;
    grid-area: bookcase;
    grid-template: none repeat(5, 1fr) / repeat(5, 1fr);
}

#newBtn {
    cursor: pointer;
}

#myForm {
    background: -webkit-linear-gradient(bottom, rgb(221, 221, 221), rgb(194, 194, 194));
    padding: 5px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#myForm label {
    margin-right: 8px;
}

#form-author, #form-title, #form-pages, #form-readUnread, #form-buttons {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-popup {
    width: 60%;
    display: none;
}


#readCheck {
    position: relative;
    float: right;
}

#readCheckLabel {
    float: left;
}