/* colors 
olive: #c5d5cb
grey: #9fa8a3
beige: #e3e0cf
*/

#container {
    height: 100%;
    width: 50%;
    grid-template-areas: 
    "header"
    "bookcase"; 
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    margin: auto;
    border: 5px solid black;
    align-items: center;
    justify-items: center;
    background: #c5d5cb;
}

#title {
    text-align: center;
}

button {
    background-color: white;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

#newBtn:hover {
    background-color: #9fa8a3;
    color: white;
}

#newBtn {
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    text-decoration: none;
    transition-duration: 0.5s;
}

.book {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-grid;
    margin: 8px;
    align-items: center;
    justify-items: center; 
}

.bookInfo {
    display: flex;
}

#header {
    display: flex;
    grid-area: header;
}

#bookcase {
    display: inline-grid;
    grid-area: bookcase;
}

#myForm {
    background: #e3e0cf;
    padding: 5px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#myForm label {
    margin-right: 8px;
}

h2 {
    text-align: center;
}

#form-author, #form-title, #form-pages, #form-readUnread, #form-buttons {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-popup {
    width: 100%;
    display: none;
    float: left;
    position: relative;
    margin: 10px;
}

#form-buttons {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

#submit, #cancel {
    background: white;
}

#readCheck {
    position: relative;
    float: right;
}

#readCheckLabel {
    float: left;
}